In [2]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [3]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [4]:
# Display the 2020 sales DataFrame
df_2020.head(10)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,Online
6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,157500,63000.00,Outlet
7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,4266,1791.72,Outlet
8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,12220,5132.40,Online
9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,3904,1991.04,Online

In [5]:
# Display the 2021 sales DataFrame
df_2021.head(10)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
5,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,45,475,213750,53437.50,Outlet
6,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,60,218,13080,6670.80,Online
7,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,46,225,10350,4554.00,Outlet
8,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,65,750,487500,195000.00,Outlet
9,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,43,138,5934,2314.26,Online

#### Check the data types of each DataFrame

In [6]:
# Check the 2020 sales data types.
df_2020.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [7]:
# Check the 2021 sales data types.
df_2021.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [9]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)
combined_df.reset_index(drop=True, inplace=True)

In [10]:
# Check if any values are null.
null_values = combined_df.isnull().any()
print(null_values)

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [11]:
# Check the data type of each column
column_data_types = combined_df.dtypes
print(column_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [14]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [15]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [17]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
grouped_df = combined_df.groupby(['region', 'state', 'city']).agg(Total_Products_Sold=('units_sold', 'sum'))

# Reset index to make the grouped columns regular columns
grouped_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = grouped_df.head(5)

print("Top 5 Results:")
print(top_5_results)

Top 5 Results:
    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

#### Using `pivot_table`

In [18]:
# Pivot the DataFrame to show the number of products sold for region, state, and city

pivot_df = combined_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Reset index to make the grouped columns regular columns
pivot_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = pivot_df.head(5)

print("Top 5 Results:")
print(top_5_results)

Top 5 Results:
    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [20]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales_df = combined_df.groupby(['region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum'))

# Reset index to make the grouped columns regular columns
grouped_sales_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = grouped_sales_df.head(5)

print("Top 5 Results:")
print(top_5_results)

Top 5 Results:
    region     state          city  Total_Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [21]:
# Show the total sales for the products sold for each region, state, and city.
pivot_sales_df = combined_df.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Reset index to make the grouped columns regular columns
pivot_sales_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = pivot_sales_df.head(5)

print("Top 5 Results:")
print(top_5_results)

Top 5 Results:
    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [22]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales_df = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum'))

# Reset index to make the grouped columns regular columns
grouped_sales_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = grouped_sales_df.head(5)

print("Top 5 Results:")
print(top_5_results)

Top 5 Results:
  retailer     region          state        city  Total_Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [23]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_sales_df = combined_df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Reset index to make the grouped columns regular columns
pivot_sales_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = pivot_sales_df.head(5)

print("Top 5 Results:")
print(top_5_results)

Top 5 Results:
  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [25]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Print the filtered DataFrame
print("Women's Athletic Footwear Sales Data:")
print(womens_athletic_footwear_sales)

Women's Athletic Footwear Sales Data:
         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [28]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Group by retailer, region, state, and city and sum the number of units sold
grouped_womens_sales_df = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city']).agg(Womens_Footwear_Units_Sold=('units_sold', 'sum'))

# Reset index to make the grouped columns regular columns
grouped_womens_sales_df.reset_index(inplace=True)

# Show the top 5 results
top_5_results = grouped_womens_sales_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)


print(top_5_results)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [29]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Pivot the DataFrame to show the total number of women's athletic footwear sold for each retailer, region, state, and city
pivot_womens_sales_df = womens_athletic_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_womens_sales_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Reset index to make the grouped columns regular columns
pivot_womens_sales_df.reset_index(inplace=True)

# Sort the DataFrame in descending order based on "Womens_Footwear_Units_Sold"
top_5_results = pivot_womens_sales_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print(top_5_results)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [30]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
womens_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Create a pivot table with 'invoice_date' as index and 'total_sales' as values
pivot_table_sales = womens_athletic_footwear_sales.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table
print("Table with Women's Athletic Footwear Sales:")
print(pivot_table_sales)

Table with Women's Athletic Footwear Sales:
              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [31]:
# Resample the pivot table into daily bins, and get the total sales for each day.
resampled_pivot_table = pivot_table_sales.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales"
sorted_resampled_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=True)

# Show the sorted resampled pivot table
print("Resampled Table Sorted in Total Sales:")
print(sorted_resampled_pivot_table)

Resampled Table Sorted in Total Sales:
              Total Sales
invoice_date
2021-01-01              0
2020-10-10              0
2020-10-09              0
2020-10-07              0
2020-10-06              0
...                   ...
2021-07-23        1021806
2021-08-17        1086294
2021-06-17        1376988
2021-12-16        1473497
2021-07-16        1521825

[727 rows x 1 columns]

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [32]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table_sales.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales"
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=True)

# Show the sorted resampled pivot table
print("Resampled Pivot Table Sorted in Ascending Order on Total Sales:")
print(sorted_weekly_sales)

Resampled Pivot Table Sorted in Ascending Order on Total Sales:
              Total Sales
invoice_date
2020-10-18              0
2020-11-22          53940
2020-12-13          58916
2020-12-20          61710
2020-12-06          62801
...                   ...
2021-11-14        2531721
2021-07-18        2801449
2021-07-11        2835078
2021-12-12        2922161
2021-12-19        3098970

[105 rows x 1 columns]